@font-face {
  font-family:"arial";
}
body {
  background-color: #ffffbf;
  text-align: center;
  font-family:"arial";
}
body, html{
    width:  100%;
    margin: auto;
    height: 100%;
  }
table,th,td{
  margin-left: 10px;
  margin-right: 10px;
}

th {
  width: 20%;
  border: 1px;
  background-color: black;
  color: white;
  padding: 7px;
}

#logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
.container{
  width: 600px;
  margin: 25px auto;
  padding: 20px;
}
.introduccion, .redes, .pelis, .footer{
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(3, 3, 3, 3);
}
.center{
  text-align: center;
}
