body{
  text-align: center;
  background: url("../fotos/gif.gif");
}
table{
  border-collapse: collapse;
  background-color: white;
}
th {
  width: 20%;
  border: 1px;
  background-color: white;
  color: black;
  padding: 7px;
}
th,td{
border:1px solid black;
}
